.container {
    width: 60%; /* se for uma tela menor que 980px vai se adaptar a 70% */
    max-width: 960px; /* quando chegar em 980px para de aumentar */
    box-shadow: rgba(0, 0, 0, 0.3) 0px 25px 50px -12px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    padding: 30px;
    margin: 0 auto;
  }